body {
  background-color: #f9f7fe;
  font-family: "Poppins", sans-serif;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 64px auto;
  padding: 44px;
  border-radius: 12px;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
}

a {
  color: #663ccf;
}

.search-form {
  display: flex;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 8px 0 0 8px;
  flex-grow: 1;
  font-size: 16px;
  padding: 12px 20px;
}

::placeholder {
  color: #8a93a2;
}

.search-form-button {
  background: #663ccf;
  padding: 12px 28px;
  border: none;
  border-radius: 0 8px 8px 0;
  font-size: 16px;
  color: white;
}

main {
  padding: 32px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #abb2bd;
}

.weather-app-details strong {
  color: #31bacc;
  font-weight: 600;
}

.weather-app-temperature {
  display: flex;
}

.weather-app-icon {
  font-size: 64px;
  margin-top: 12px;
}

.weather-app-value {
  font-size: 88px;
  font-weight: 600;
  margin-left: 12px;
}

.weather-app-unit {
  margin-top: 24px;
  font-size: 24px;
}

footer {
  border-top: 2px solid #f9f7fe;
  padding: 32px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: #626e83;
}
