body {
  background-color: #f9f7fe;
  font-family: "Poppins", sans-serif;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 64px auto;
  padding: 44px;
  border-radius: 12px;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 4px;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px;
}

::placeholder {
  color: #8a93a2;
}

.search-form-button {
  background: #885df1;
  padding: 12px 28px;
  border: none;
  margin-left: 4px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
}
